*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#242331;
}

.main {
    margin-left: 150px;
    display: flex;
}
.main .cl1{
    flex: 50%;
    background-color: #242331;
    color: aliceblue;
    width: 25%;
}
.main .cl1 li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.8;
    margin-left: 10px;
}
.main .cl2{
    flex: 100%;
    margin-left: 50px;
    margin-right: 150px;
}
.main .cl2 #name, h3, h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.main .cl2 p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
.main .cl2 ol{
    margin-left: 30px;
    font-size: 20px;
}
.main .cl2 ul li {
    margin-left: 20px;
}

.main .cl2 #name{
    font-size: 40px;
    color: #ddca7d;
    font-weight: 800;
}

.main .cl1 h2{
    margin-top: 20px;
}

.body #header {
    text-align: center;            
}

#resume{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 85px;
    color:#ddca7d;
}

.main{
    padding: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    line-height: 1.8;
    color: aliceblue;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    color: #ddca7d;
}

sup{
    font-size: 10px;
    color: aliceblue;
}


.footer .top{
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}

.footer .top a{
    color: #b88b4a;
    text-decoration: none;
}

.footer a:hover{
    color: beige;
}

.profile{
    text-align: center;
}

#pic{
    text-align: center;
    border: #b88b4a;
    border-radius: 50%;
}